.content::before{
    content:"";
    position:absolute;
    inset:0;
    background: rgba(255,255,255,0.3);
    z-index:1;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    gap: 100px;
}

.cenamic {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.content > *:not(.cenamic){
    position: relative;
    z-index: 1;
}

.title {
    box-sizing: border-box;
    padding: 25px 50px;
    width: 100%;
    border-bottom: solid 1px #dcdcdc;
    background-color: white;
    color: #3babf6;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}


/* margin-left: 370px;
    flex-direction: column;
    flex: 1;
    gap: 250px;
    background-color: #f0f0f0; */

/* .user-managment, .registration-requests {
    width: 90%;
    height: 600px;
    overflow-y: auto;
    scrollbar-width: none;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
} */
