.statistics {
    /* width: 1200px; */
    width: 100%;
    /* height: 360px; */
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #e6e6e6; */
    /* border-radius: 12px; */
    /* overflow: hidden; */
}
